<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení objednávky obědů</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p>Vaše objednávka obědů Kálindí byla přijata.</p>
    <table>
        <tr><td style="width: 50px;">Jméno:</td><td>{$surname}</td></tr>
        <tr><td>Adresa:</td><td>{$address}</td></tr>
        <tr><td>Telefon:</td><td>{$phone}</td></tr>
        {if $email != ""}<tr><td>e-mail:</td><td>{$email}</td></tr>{/if}
    </table>
    
  <table style="width: 650px; margin-left: 10px; margin-bottom: 50px;">
    {if $this_week_amount > 0}
    <tr style="height: 60px">
        <td colspan="3"><h1 style="font-size: 20px; margin: 20px 0px 20px 0px;">{$week_title}</h1></td>
    </tr>
    {foreach $this_week as $day}
    <tr style="height: 60px">
        <td style="width: 32px; font-size: 18px; font-weight: bold; text-align: center;">{$day['abbr']}</td>
        <td>
            <ul style="padding-left: 16px; padding-bottom: 2px;">
            {foreach $day['preparation'] as $preparation}
                <li style="text-align: left; list-style: disc; font-size: 13px; line-height: 18px;" n:tag-if="$preparation != ''">{$preparation}</li>
            {/foreach}
            </ul>
        </td>
        <td style="width: 120px; text-align: left; padding-left: 40px; font-size: 13px;">{$day['amount']} porcí ({$day['price']},- Kč)</td>
    </tr>
    {/foreach}
    {/if}

    {if $next_week_amount > 0}
    <tr style="height: 60px">
        <td colspan="3" style="height: 100px; vertical-align: bottom;"><h1 class="menu-title-order">{$next_week_title}</h1></td>
    </tr>
    {foreach $next_week as $day}
    <tr style="height: 60px">
        <td style="width: 32px; font-size: 18px; font-weight: bold; text-align: center;">{$day['abbr']}</td>
        <td>
            <ul style="padding-left: 16px; padding-bottom: 2px;">
            {foreach $day['preparation'] as $preparation}
                <li style="text-align: left; list-style: disc; font-size: 13px; line-height: 18px;" n:tag-if="$preparation != ''">{$preparation}</li>
            {/foreach}
            </ul>
        </td>
        <td style="width: 120px; text-align: left; padding-left: 40px; font-size: 13px;">{$day['amount']} porcí ({$day['price']},- Kč)</td>
    </tr>
    {/foreach}
    {/if}
    <tr style="height: 60px">
	  	<td></td>
	  	<td></td>
	  	<td style="width: 100px; vertical-align: top; padding-top: 10px; text-align: center; font-size: 13px; font-weight: bold; border-top: 1px #663200 solid" >Cena celkem:<br />{$total_price},- Kč</td>
    </tr>
</table>
<hr />
Kálindí
</div>   
</body>
</html>