{block content}
<main style="padding: 50px 120px; width: 660px; text-align: center;">
	<h1 n:block=title>Stránka nenalezena</h1>
	
	<p>Požadovaná stránka nebyla nalezena. Je možné, že je adresa nesprávná nebo již neexistuje.</p>
	
	<p><small>error 404</small></p>
</main>
