{block title}Kontakt{/block}
{block content}
<section id="contact">
    <p>Elena Králová<br />Mobil: +420 / 732 927 365<br />Email: <span id="e900651686">[javascript protected email address]</span><script type="text/javascript">/*<![CDATA[*/eval("var a=\"j1+HnJK3O-4XDGYAxZM09P8NLQsSWF.uV2TERrfI6c_CU@tlyhpbqazvowd7Bikgme5\";var b=a.split(\"\").sort().join(\"\");var c=\"bcqhzUhGbcqhzUh+C5\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e900651686\").innerHTML=\"<a href=\\\"mailto:\"+d+\"\\\">\"+d+\"</a>\"")/*]]>*/</script></p>
    <a n:href="Order:order">Pro objednání obědů využijte<br />prosím náš online formulář >></a>
</section>
{/block}
